<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <md-card>
    <md-card-header>
      <md-card-title>
        Login:
      </md-card-title>
    </md-card-header>

    <md-card-content>
      <md-input-container color="warn" class="full-width">
        <input mdInput type="text" placeholder="Your Email" formControlName="email">
      </md-input-container>

      <md-input-container color="warn" class="full-width">
        <input mdInput type="password" placeholder="Your Password" formControlName="password">
      </md-input-container>

      <button md-raised-button type="submit">Login</button>

    </md-card-content>

    <md-card-actions class="text-right">
      <p>Not Registered? <a routerLink="/register">Register</a> </p>
      <p>Forgot Password? <a href="">Password Reset</a> </p>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>

      </md-card-title>
      <md-card-subtitle>

      </md-card-subtitle>
      <img md-card-image src="" alt="">
    </md-card-header>

    <md-card-content>

    </md-card-content>

    <md-card-actions class="text-right">

    </md-card-actions>
  </md-card>
</form>
